<div class="panel panel-primary">
    <div class="panel-heading">Description</div>
    <div class="panel-body">
        Is it possible to compare the responses to a similar event in two different places to compare and contrast impact, e.g., an exhibition 
        running in two different cities?
    </div>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
        <th>Parameter</th>
        <th>Description</th>
        </thead>
        <tbody>
            <tr><td>Key Words</td><td>Key words</td></tr>
            <tr><td>Location One</td><td>First Location for search</td></tr>
            <tr><td>Location Two</td><td>Second Location for search</td></tr>
            <tr><td>From Date</td><td>The Start date</td></tr>
            <tr><td>To Date</td><td>The End date</td></tr>
        </tbody>
    </table>
</div>
<div layout="row" layout-align="end center">
    <md-button class="md-button md-raised md-primary" ng-click="cancel()">
        OK
    </md-button>
</div>