
<div>
    
    <div class="panel panel-info form-test">
        <div class="panel-heading" layout='row' layout-align='space-between center'>
            <div>
                <h3 class="modal-title">About</h3>
            </div>
            <div>
                <img src="image/uofidaho.png" alt="University of Idaho" style="width:100px;height:30px;">
            </div>
        </div>
        <div class="panel-body" >
            <div layout="column">
                    <div layout='row'>
                        This application is designed by Database Lab in University of Idaho.
                    </div>
                    <div layout="row">
                        <div >
                            Student: Xin Mou <br> Email: mou1609@vandals.uidaho.edu
                        </div>
                        <div >
                            Professor: Hasan Jamil <br> Email: jamil@uidaho.edu
                        </div>
                    </div>
                    <div >
                        <p>If you have any question, please contact 
                            <a href="mailto:mou1609@vandals.uidaho.edu">Xin Mou</a>.</p>
                    </div>
            </div>
        </div>
    </div>
<div class="pull-right">
    <md-button md-autofocus flex class="md-raised" md-colors="{background:'light-green'}" ng-click="cancel()">
        Close
    </md-button>
</div>

    </div>
