<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="panel panel-primary">
    <div class="panel-heading">
        <div >
            <div>
                Description
            </div>
        </div>
    </div>
    <div class="panel-body">
        Are there consistent lag-times in response? In other words, is response immediate or 
        do people regularly require some time to process an event? 
    </div>
    <table class="table table-striped table-bordered table-hover table-sm">
        <thead>
        <th>Parameter</th>
        <th>Description</th>
        </thead>
        <tbody>
            <tr><td>Key Words</td><td>Key words</td></tr>
            <tr><td>Position</td><td>Location for search</td></tr>
            <tr><td>From Date</td><td>The Start date</td></tr>
            <tr><td>To Date</td><td>The End date</td></tr>
            <tr><td>Event Start Date</td><td>The event start date</td></tr>
        </tbody>
    </table>
</div>
<div layout="row" layout-align="end center">
    <md-button class="md-button md-raised md-primary" ng-click="cancel()">
        OK
    </md-button>
</div>