<h3 class="label label-primary">Current Running task:</h3>
<div class="row">
        <div class="col-md-11">
                <form id="myForm" angular-validator-submit=""  name="myForm" novalidate angular-validator  class='form-inline'>
                        <div class='form-group'>
                                <label style="font-size:1.5em;font-color:#927346;"  data-toggle="tooltip" data-placement="top" title="Example: Dallas cop shooting, Tina">
                                        Key words:
                                </label>
                                <input name="keywords" type="text" ng-model="filterKeywords" placeholder="separated by comma">
                        </div>
                        <div class='form-group'>
                                <label style="font-size:1.5em;font-color:#927346;" data-toggle="tooltip" data-placement="top" title="Example: 07/10/2016">Start Date: </label>
                                <input type="text" 
                                       name="fromDate"
                                       validate-on="dirty"
                                       ng-model="fromDate" 
                                       validator = "myFromDateValidator(fromDate)"
                                       invalid-message="'date like 07-01-2016 08:03:04'"
                                       required-message="'This field is required'"
                                       placeholder="mm-dd-yyyy hh:mm:ss"
                                       required>
                        </div>
                        <div class='form-group'>
                                <label style="font-size:1.5em;font-color:#927346;"  data-toggle="tooltip" data-placement="top" title="Example: 07/30/2016">End Date: </label>
                                <!--<input name="toDate" type="text" ng-model="toDate"   placeholder="mm-dd-yyyy hh:mm:ss" required>-->
                                <input type="text" 
                                       name="toDate"
                                       validate-on="dirty"
                                       ng-model="toDate" 
                                       validator = "myToDateValidator(fromDate, toDate) === true"
                                       invalid-message="myToDateValidator(fromDate, toDate)"
                                       required-message="'This field is required'"
                                       placeholder="mm-dd-yyyy hh:mm:ss" 
                                       required>
                                <!--invalid-message="'date like 07-16-2016 08:03:04'"-->
                        </div>
                        <div class='form-group'>
                                <label style="font-size:1.5em;font-color:#927346;" data-toggle="tooltip" data-placement="top" title="Example: Portland">
                                        Location: 
                                </label>
                                <input autocomplete="off" name="location" type="text" ng-model="location" uib-typeahead="address for address in getLocation($viewValue)" >
                        </div>
                        <button class="btn btn-info" ng-disabled="isSubmitting == true" ng-click="generateGraph()">
                                <span ng-show="!isSubmitting">Generate Graph</span>
                                <span ng-show="isSubmitting">
                                        Submitting
                                        <img src="image/button_loading.gif" style="width: 5%;height:2%;"/>
                                </span>
                        </button>
                </form>
        </div>
        <div class="col-md-1">
                <button disabled class="btn btn-info pull-right"># of Tweets Returned <span class="badge">{{tweetsReturnCount}}</span></button>
        </div>
</div>

<img ng-show="loading" src="image/loading.gif" style="width:150px;height:150px;position:fixed;top:40%;left:35%;"/>

<div class="row">
        <div class="row">
                <div style="position:relative;left:2%;">
                        <div style="" ng-show="showtypeshow">
                                Chart type:
                                <select ng-model="chartType" ng-change="chartTypeChange()">
                                        <option value="Line">Line</option>
                                        <option value="Bar">Bars</option>
                                </select>
                                Collected by:
                                <select ng-model="showtype" ng-change="typeChanged()">
                                        <option value="hour">Hour</option>
                                        <option value="day">Day</option>
                                        <option value="week">Week</option>
                                        <option value="month">Month</option>
                                        <option value="year">Year</option>
                                </select>
                        </div>
                </div>
        </div>
        <div class="row">
                <div style="position:relative;left:2%;width: 95%;" >
                        <canvas id="canvas" class='chart-base' chart-type='chartType' chart-data="data" chart-labels="labels" 
                                chart-legend="true" chart-series="series" chart-click="onClick"></canvas> 
                </div>
        </div>
</div>


